@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
  background-image: url("../src/assets/HeroPic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}